<!DOCTYPE html>
<html>
<div class"nav">
  <a href="/logout">Logout</a>
  </div><br>

<h1>Post Discussions</h1>

<div
 class="canva-embed"
 data-design-id="DAD94BJhw48"
 data-height-ratio="0.5625"
 style="padding:56.2500% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"
></div>
<script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script>

<body>
<section>
<% @posts.each do |get_post| %>
  <a href='/posts/<%= get_post.id %>'> View </a><br>
  <a href='/posts/new'> Create </a>
  <h3>Topic: <%= get_post.topic %></h3>
  <p>Content: <%= get_post.content %> </p> 
  <p>Date: <%= get_post.date %> </p>
  <p>Creator: <%= get_post.user.name %> </p>
    <% end %>
  </section>
  </body>
  </html>
