<!DOCTYPE html>
 <html>
  <head>
   </head>
   <body> 
   <div class="container">
     <div class="centered">
     <h3> Topic: </h3>
     <%= @post.topic %><br><br>

     <%= @post.content %><br><br>
         
     <%= @post.date %><br><br>

     
     <% if authorized_to_edit?(@post) %> 
     
     </p> <input type="button" onclick="window.location.href='/posts/<%= @post.id %>/edit'" value="Edit Post"></p> 
    
     <p> <input type="button" onclick="window.location.href='/posts'" value="Discussions"></p> 
     
     
     <form action="/posts/<%= @post.id %>" method="post">
     <input id="hidden" type="hidden" name="_method" value="delete">
     
     <p> <input type="submit" value="Delete"></p>
    
    </form>
    <% end %>
    
     
    </div>
    </body> 

</html>

